[flake8]
max-line-length = 125
import-order-style = pycharm
# показывать итоговое количество ошибок
count = True
# нумерация ошибок
statistics = True
# количество подпроцессов для параллельного запуска проверок
jobs = auto

exclude =
    .git,
    .gitignore,
    *.pot,
    *.py[co],
    __pycache__,
    .venv,
    migrations,
    .env,

# Flake8 Rules (https://www.flake8rules.com/)
ignore =
    # I201 Missing newline between import groups.
    I201,
    # I202 Additional newline in a group of imports.
    I202,
    # I100 Import statements are in the wrong order
    I100,
    # E121 continuation line under-indented for hanging indent
    E121,
    # E122 continuation line missing indentation or outdented
    E122,
